{% extends 'common/base.html' %}

{% load bootstrap4 i18n %}

{% block content %}
<form class="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>
       {{ _('Are you sure you want delete post?')}}
    </h1>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">{{ post.author.username }}</h5>
                <div class="float-right">
                    <a href="{% url 'common:delete_post' post.pk %}" class="btn btn-primary">{% trans 'Delete' %}</a>
                </div>
            <h6 class="card-subtitle mb-2 text-muted">{% trans 'Created at:' %}{{ post.created_at }} {% if post.updated_at %}| {% trans 'Updated at:' %}{{ post.updated_at }}{% endif %}</h6>
                <p class="card-text">{{ post.text }}</p>
        </div>
    </div>
    <div class="d-none d-lg-block d-xl-block">
        {% bootstrap_button _("Delete") button_type="submit" button_class="btn btn-danger" %}
        <a href="{% url 'common:index' %}" class="btn btn-light">{% trans 'Cancel' %}</a>
    </div>
    <div class="d-lg-none d-xl-none">
        {% bootstrap_button _("Delete") button_type="submit" button_class="btn btn-danger btn-lg btn-block" %}
        <a href="{% url 'common:index' %}" class="btn btn-light btn-lg btn-block">{% trans 'Cancel' %}</a>
    </div>
</form>
{% endblock %}
