{% extends 'common/base.html' %}

{% load i18n bootstrap4 %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card mt-4">
          <div class="card-header">
              <div class="float-left">
                {{ category.name }}
              </div>

            <div class="float-right">
                <a href="{% url 'common:create_topic' category.pk %}" class="badge badge-success">{% trans 'Create new topic' %}</a>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            {% if page_obj %}
                {% for topic in page_obj %}

                    <li class="list-group-item">
                        <a href="{% url 'common:topic_posts' topic.pk %}">{{ topic.name }}</a>
                         {% if request.user.is_superuser %}

                            <div class="float-right">
                                 {% if topic.active %}
                                 <a href="{% url 'common:block_topic' topic.pk %}" class="badge badge-danger">{% trans 'Block' %}</a>
                                 <a href="{% url 'common:update_topic' topic.pk %}" class="badge badge-info">{% trans 'Edit' %}</a>
                                 {% endif %}
                                 {% if not topic.active %}
                                 <a href="{% url 'common:block_topic' topic.pk %}" class="badge badge-info">{% trans 'Activate' %}</a>
                                 {% endif %}
                            </div>

                        {% endif %}
                    </li>
                {% endfor %}
            {% else %}
              <li class="list-group-item">{% trans 'No topics' %}</li>
            {% endif %}
          </ul>
        </div>
        <div class="pagination justify-content-center mt-4">
            {% bootstrap_pagination page_obj %}
        </div>
    </div>
</div>

{% endblock %}
